<% l = @lawyer %>
<section class="section Site-content">
  <div class="columns">
  	<div class="column is-one-eighth">
	</div>
  	<div class="column is-3">
	  <div class="card">
		<div class="card-image">
		  <figure class="image is-3by4">
		    <!-- <%= image_tag "#{l.photo}" %> -->
		    <%= image_tag l.photo_url, alt: l.name %>
		  </figure>
		</div>
		<div class="card-content">
		  <div class="content">
		    <strong><%= "Name: #{l.name}" %></strong>
		    <br>
		    <strong><%= "Email: #{l.user.email}" %></strong>
		  </div>
		</div>
	  </div>
	</div>
	<div class="column is-one-eighth">
	</div>
	
	<div class="column is-three-fifths">
	  <div class="card">
	    <div class="card-content">
	      <div class="content">	
	      	<strong>Prospective Cases</strong>
	        <% if @case == [] %>
	          <p>There is no case that interests you at the moment</p>
	        <% else %>
		      <table class="table is-bordered">
		        <thead>
			      <tr>
			        <th class="is-narrow">S/No.</th>
			        <th>Title</th>
			      </tr>
		        </thead>
		        <tbody>

		          <!-- display each case with an index -->
		          <% @case.each_with_index do |c, i| %>
		            <tr>
			          <td><%= i + 1 %></td>

			          <!-- links to the case show -->
			          <td><%= link_to c.title, case_path(c) %></td>
			        </tr>
		          <% end %>
		        </tbody>
		      </table>
	        <% end %>
	      </div>
	    </div>
	  </div>
    </div>	
    <div class="column is-one-eighth">
    </div>
  </div>
</section>