<section class="section">
	
	<div class="card">
	  <div class="card-content">
	    <div class="content">
	      <%= form_for @lawyer, :local => true do |f| %>

	      	<!-- photograph input -->
			<div class="field">
				<%= f.label(:photo, "Photograph") %>
				<div class="control">
					<%= f.text_field :photo, class: "input", placeholder: "Photograph URL" %>
				</div>
			</div>

			<!-- name input -->
			<div class="field">
				<%= f.label(:name, "Name") %>
				<div class="control">
					<%= f.text_field :name, class: "input", placeholder: "Name" %>
				</div>
			</div>

			<!-- specialization checkboxes -->
			<div class="field">
				<%= f.label(:specialization_ids, "Specialization", class: "button hide") %>
				<div id="checkboxes">
					<%= f.collection_check_boxes :specialization_ids, @specialization, :id, :name do |b| %>
						<p>
							<%= b.check_box %>
	    					<%= b.label %>
						</p>
					<%end%>
				</div>
			</div>
			<%if false%>
			<div class="field">
				<%= f.label(:specialization_ids, "Specialization", class: "checkbox") %>
				<div class="control" id="check">
					<% @specialization.each_with_index do |s, i| %>
					  <% index = (i + 1) %>
				  	  <input type="checkbox" name="lawyer[specialization_ids][]" value="<%= index %>"><%= s.name %><br>
				    <% end %>
					</div>
				</div>
			</div>
			<%end%>

			<!-- number input -->
		    <div class="field">
				<%= f.label(:number, "Contact Number") %>
				<div class="control">
					<%= f.text_field :number, class: "input", placeholder: "Contact Number" %>
				</div>
			</div>

			<!-- description input -->
			<div class="field">
				<%= f.label(:description, "Description") %>
				<div class="control">
					<%= f.text_area :description, class: "input", placeholder: "Describe Yourself" %>
				</div>
			</div>

			<!-- firm name input -->
			<div class="field">
				<%= f.label(:firm, "Law Firm") %>
				<div class="control">
					<%= f.text_field :firm, class: "input", placeholder: "Law Firm" %>
				</div>
			</div>

			<!-- firm address input -->
			<div class="field">
				<%= f.label(:address, "Firm Address") %>
				<div class="control">
					<%= f.text_field :address, class: "input", placeholder: "Company Address" %>
				</div>
			</div>

			<!-- register button -->
			<div class="field">
				<%= f.submit 'Register', :type => "submit", class: "button" %>
			</div>
		<% end %>
	    </div>
	  </div>
	</div>

	
</section>

<script>
	let hide = document.getElementsByClassName("hide")[0];
	let checkboxes = document.getElementById("checkboxes");
	hide.addEventListener("click", function() {
		if (checkboxes.style.display === "none") {
			checkboxes.style.display = "block";
		} else {
			checkboxes.style.display = "none";
		}
	})
</script>
