<div class="container">
	
	<div class="card">
	  <div class="card-content">
	    <div class="content">
	      <%= form_for @lawyer, :local => true do |f| %>
			<div class="field">
				<%= f.label(:photo, "Photograph") %>
				<div class="control">
					<%= f.text_field :photo, class: "input", placeholder: "Photograph URL" %>
				</div>
			</div>
			<div class="field">
				<%= f.label(:name, "Name") %>
				<div class="control">
					<%= f.text_field :name, class: "input", placeholder: "Name" %>
				</div>
			</div>
			


			<% if false %>
			<div class="field">
				<%= f.label(:specialization_ids, "Specialization", class: "checkbox") %>
				<div class="control">
					<%= f.collection_check_boxes :specialization_ids, @specialization, :id, :name %>
				</div>
			</div>
			<% end %>



			<div class="field">
				<%= f.label(:specialization_ids, "Specialization", class: "checkbox") %>
				<div class="control">
					<% @specialization.each_with_index do |s, i| %>
				  	  <%= check_box_tag('specialization_ids', i) %><%=s.name%><br>
				    <% end %>
					</div>
				</div>
			</div>
		    <div class="field">
				<%= f.label(:number, "Contact Number") %>
				<div class="control">
					<%= f.text_field :number, class: "input", placeholder: "Contact Number" %>
				</div>
			</div>
			<div class="field">
				<%= f.label(:description, "Description") %>
				<div class="control">
					<%= f.text_area :description, class: "input", placeholder: "Describe Yourself" %>
				</div>
			</div>
			<div class="field">
				<%= f.label(:firm, "Law Firm") %>
				<div class="control">
					<%= f.text_field :firm, class: "input", placeholder: "Law Firm" %>
				</div>
			</div>
			<div class="field">
				<%= f.label(:address, "Firm Address") %>
				<div class="control">
					<%= f.text_field :address, class: "input", placeholder: "Company Address" %>
				</div>
			</div>
			<div class="field">
				<%= f.submit 'Register', :type => "submit", class: "btn btn-danger" %>
			</div>
		<% end %>
	    </div>
	  </div>
	</div>

	
</div>
<% if false %>
<script>
	let checkbox = document.getElementsByClassName("checkbox")[0];
	checkbox.addEventListener("click", function() {
		console.log("ok");
		document.querySelectorAll(#specialization_ids).style.display = "none";
	})
</script>
<% end %>