<div class="container">

	<h1>LAWME</h1>

	<% l = @lawyer %>

	<!-- number will change to lawyer name -->
	<%= image_tag "#{l.photo}", width: "auto", height: "200vh" %>
	<h3><%= l.name %></h3>
	<p><%= "Specializations: " %>
		<% l.specializations.each do |s| %>
		<%= "#{s.name} " %>
		<% end %>
	</p>
	<p><%= "Contact No: #{l.number}" %></p>
	<p><%= "Email: #{@user.email}" %></p>
	<p><%= "About Me: #{l.description}" %></p>
	<p><%= "Firm: #{l.firm}" %></p>
	<p><%= "Address: #{l.address}" %></p>

</div>