<% l = @lawyer %>
<% ls = @lawyer.specializations %>
<section class="section Site-content">
  <div class="columns">
  	<div class="column is-one-eighth">
	</div>
  	<div class="column is-3">
	  <div class="card">
		<div class="card-image">
		  <figure class="image is-3by4">
		    <!-- <%= image_tag "#{l.photo}" %> -->
		    <%= image_tag l.photo_url, alt: l.name %>
		  </figure>
		</div>
	  </div>
	</div>
	<div class="column is-one-eighth">
	</div>
	
	<div class="column is-three-fifths">
	  <div class="card">
	    <div class="card-content">
	      <div class="content">	
		    <table class="table is-bordered">
		      <thead>
		      	<tr>
				  <th class="is-narrow">Name:</th>
				  <th><%= l.name %></th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr>
		          <td>Email:</td>
		          <td><%= @user.email %></td>
		        </tr>
		        <tr>
				  <td>Contact Number:</td>
				  <td><%= l.number %></td>
		        </tr>
		        <tr>
				  <td>About Me:</td>
				  <td><%= l.description %></td>
		        </tr>
		        <tr>
				  <td>Firm:</td>
				  <td><%= l.firm %></td>
		        </tr>
		        <tr>
				  <td>Address:</td>
				  <td><%= l.address %></td>
		        </tr>
		        <tr>
				  <td>Specialization:</td>
				  <td>
					<% if ls.length == 1 %>
						<%= ls.name %>
					<% else %>
					  	<% l.specializations.each do |s| %>
					  	  <%= "#{s.name}.   " %>
						<% end %>
				  	<% end %>
				  </td>
		        </tr>
		      </tbody>
		    </table>
	      </div>
	    </div>
	  </div>
    </div>	
    <div class="column is-one-eighth">
    </div>
  </div>
</section>
