<section class="section Site-content">
	<div class="container">
		<div class="columns">
			<div class="column"></div>
      <div class="column is-four-fifths"> 
        <% @message.each do |m| %>
        <article class="message">
          <div class="message-header"> <%= m.title %> </div>
          <div class="message-body" style="font-weight: 450;">    
            From: <%= User.find(m.sender_id).client ? User.find(m.sender_id).client.name : User.find(m.sender_id).lawyer.name %><br>
            To: <%= User.find(m.receiver_id).client ? User.find(m.receiver_id).client.name : User.find(m.receiver_id).lawyer.name %><hr style="margin:1rem 0; background-color: #4a4a4a">
          
            <%= m.content %><hr style="margin: 1rem 0;">

            <% if m.sender_id != current_user.id and m.read == true %>
              <%= link_to "Reply", "messages/new?message_id=#{m.id}&receiver_id=#{m.receiver_id}", class: "button is-warning-ish" %> 
            <% end %>

          </div>
        </article>
        <% end %>
      </div>
      <div class="column"></div>  
    </div>
  </div>
</section>  