<div class="container">

	<h1>LAWME</h1>

	<h3><%= @case.title %></h3>
<p>
   <strong>Specialization :</strong> <%= @case.specialization %><br />
   <strong>Created Date:</strong> <%= @case.created_at %><br />
</p>

<p><%= @case.description %></p>

<p>
   <strong>Name :</strong> <%= @client.name %><br />
   <strong>Number :</strong> <%= @client.number %><br />
</p>




