<%= content_for :page_title, 'Change Password' %>
<%= content_for :page_description, 'Reset a forgotten password' %>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="card">
	        <div class="card-content">
            <div class="content">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= devise_error_messages! %>

                  <section class="hero is-dark">
                    <div class="hero-body">
                      <div class="container">
                        <div class="columns is-vcentered">
                          <div class="column">
                            <h3 class="subtitle is-size-3">Request Password Change</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                <br/>
                <div class="field">
                  <label class="label">Email Address</label>
                  <div class="control has-icons-left">
                    <%= f.email_field :email, autofocus: true, class: "input", placeholder: "Enter your email address" %>
                    <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
                  </div>
                </div>
                <br/>
                <div class="actions is-centered">
                  <%= f.submit "Send Reset Instructions", class: "button is-warning-ish" %>
                </div>
              <% end %>
              
            <div>    
          </div>      
        </div>
      </div>
    </div>
  </div>
</section>
