<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'https://i.imgur.com/edf5nxY.png' %>
    <title>LawMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'layouts/navbar' %>
    
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="Site">
    <% flash.each do |key, value| %>
      <% if value.class == Array %>
        <div id="notificationMessage" class="<%= flash_class(key) %>" onClick="document.getElementById('notificationMessage').classList.remove('is-active')"><% value.each do |message| %><%= message %></br><% end %></div>
      <% else %>
        <div id="notificationMessage" class="<%= flash_class(key) %>" onClick="document.getElementById('notificationMessage').classList.remove('is-active')"><%= value %></div>
      <% end %>
    <% end %>
    <%= yield %>
     
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <%= render 'layouts/footer' %>
  </body>
</html>
